.NavBar {
  background-color: rgba(255, 255, 255, 0.05); /* fond semi-transparent clair pour l’effet glass */
  color: white;
  position: fixed;   /* reste en haut même au scroll */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;       /* au-dessus du Hero */
  backdrop-filter: blur(4px); /* blur plus marqué pour effet verre */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* contour subtil */
  transition: all 0.3s ease-in-out;
}

.NavBar ul {
  display: flex;
  list-style: none;
}

.NavBar a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.NavBar a:hover {
  color: #2a6aa6;

}

.gap {
  gap: 1.5rem;
}

